# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Docker
*.log
*.override.yml
compose_backups/
# VSCode or JetBrains IDE settings (optional, safe)
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# GitHub workflows temp files
.github/*.tmp

# Other
.env
data/pihole_state.json
